* {
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #1b1b32;
}

.main-container {
  display: flex;
}

.header-container {
  width: 260px;
  margin: 100px auto 50px auto;
}

.header-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40pt;
  color: white;
}

.todo-main-container {
  display: flex;
}

.todo-title {
  color: white;
}